variables:
- group: grafana-group

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: 'Resource Group'
    azureResourceManagerConnection: 'rabickel Internal Subscription(6ff9e090-f045-45ba-adec-183d64c01b9b)'
    action: 'Create Or Update Resource Group'
    resourceGroupName: 'grafanatest'
    location: 'West Europe'
    templateLocation: 'Linked artifact'
    csmFile: 'azuredeploy.json'
    csmParametersFile: 'azuredeploy.parameters.json'
    overrideParameters: '-oauth_app_id $(oauth_app_id) -oauth_app_secret $(oauth_app_secret) -mysql_server_admin_password $(mysql_server_admin_password) -oauth_app_auth_url $(oauth_app_auth_url) -oauth_app_token_url $(oauth_app_token_url)'
    deploymentMode: 'Incremental'
- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: 'Resource Group'
    azureResourceManagerConnection: 'rabickel Internal Subscription(6ff9e090-f045-45ba-adec-183d64c01b9b)'
    subscriptionId: '6ff9e090-f045-45ba-adec-183d64c01b9b'
    action: 'DeleteRG'
    resourceGroupName: 'grafanatest'